security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            lazy: true
            provider: app_user_provider # Assure-toi que ton provider est bien défini plus haut
            stateless: false
            json_login:
                check_path: api_login
                username_path: email
                password_path: password
            # C'est ici qu'on configure le Login Form
            form_login:
                login_path: app_login  # La route qui affiche le formulaire
                check_path: app_login  # La route qui traite la soumission (la même)
                enable_csrf: true      # Active la protection CSRF
                default_target_path: teacher_dashboard # Redirection après succès (optionnel)

            # Configuration de la déconnexion
            logout:
                path: app_logout
                # target: app_home (où aller après la déconnexion)

    # Note: Only the *first* matching rule is applied
    access_control:
        # Exemple : Seul un admin peut accéder aux URL commençant par /admin
        - { path: ^/admin, roles: ROLE_ADMIN }

        # Exemple : Il faut être connecté (n'importe quel rôle) pour voir le profil
        - { path: ^/profile, roles: ROLE_USER }
        - { path: ^/course/create, roles: ROLE_USER }
        - { path: ^/api/login, roles: PUBLIC_ACCESS }


        # Toutes les autres pages sont publiques par défaut, sauf si tu en décides autrement

when@test:
    security:
        password_hashers:
            # Password hashers are resource-intensive by design to ensure security.
            # In tests, it's safe to reduce their cost to improve performance.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
